.App {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#light {
  background-color: #f3ebf6;
}

#dark {
  background-color: #46045e;
}

#dark .App {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}