select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: -6px;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #23b499;
}
.select {
  position: relative;
  display: flex;
  width: 12em;
  height: 2em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em;
}
select::-ms-expand {
  display: none;
}
.languages {
  fill: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7%;
}